.header {
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* .side-navigation {
    width: 240px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
} */

.breadcrumbs {
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
